@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0e14a;
  font-family: "Roboto", sans-serif;
}

button {
  border: unset;
  background-color: unset;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: #97ce4c;
  text-align: center;
  margin: 1rem;
}

.grid {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  cursor: pointer;
  position: relative;
  width: 29vw;
  height: 29vw;
  margin-bottom: 1rem;
}

.card img {
  border-radius: 1rem;
  width: 100%;
  height: auto;
  border: 0.3rem #e89ac7 solid;
}

.card-content {
  display: none;
  position: absolute;
  color: #97ce4c;
  width: max-content;
  max-width: 90%;
  background: rgba(0, 0, 0, 0.6);
  left: 50%;
  border-radius: 1rem;
  transform: translate(-50%);
  bottom: 1rem;
  padding: 0.5rem;
  text-align: center;
}

.card:hover .card-content {
  display: revert;
}

.paging a {
  font-size: 2rem;
  cursor: pointer;
}

.paging {
  margin: 0rem auto 1rem;
  width: max-content;
}

@media (max-width: 1024px) {
  .card {
    position: relative;
    width: 44vw;
    height: 44vw;
    margin-bottom: 1rem;
  }
}

@media (max-width: 600px) {
  .card {
    position: relative;
    width: 90vw;
    height: 90vw;
    margin-bottom: 1rem;
  }
}
